git+https://github.com/kamangir/awesome-bash-cli.git@current#egg=abcli
git+https://github.com/kamangir/notebooks-and-scripts.git@main#egg=notebooks_and_scripts
boto3
geojson
geopandas
matplotlib
opencv-python
pymysql==0.10.1
pyyaml
pylint
pytest
python-dotenv[cli]
sagemaker>=2,<3
scipy
segmentation-models-pytorch
torch
tqdm
