blueness
abcli
notebooks_and_scripts
albumentations[imgaug]==1.3.0
boto3
efficientnet_pytorch
geojson
geopandas
kaggle
matplotlib
opencv-python
pretrainedmodels
pymysql
pyyaml
pylint
pytest
python-dotenv[cli]
sagemaker>=2,<3
segmentation_models_pytorch
scipy
segmentation-models-pytorch
shapely
timm
torch
tqdm